<h2 mat-dialog-title>Registration</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="form.get('login').dirty && form.get('login').invalid">
            <input matInput placeholder="Login" formControlName="login" minlength="4" required name="login" />
            <mat-error *ngIf="form.get('login').dirty && form.get('login').hasError('required')">
              Login is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('login').dirty && form.get('login').hasError('minlength')">
              Login is <strong>4 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" minlength="5" required name="password" />
            <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('minlength')">
              Password is <strong>5 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
