<section>
  <mat-card (click)="navigate(movie)" class="mat-whiteframe-2dp" *ngFor="let movie of movies">
    <mat-card-title-group>
      <img mat-card-md-image src="{{ movie.Poster }}">
      <mat-card-title>
        <span>{{ movie.Title }}</span>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div class="contact-info">
        &nbsp;<span  *ngIf="!!movie.Ratings"> {{movie.Ratings.length}} Opinions </span>
        <span  *ngIf="!movie.Ratings"> 0 Opinions </span>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section class="buttons-fab">
  <button (click)="showDialogAddMovie()" mat-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>
</section>
